<h1>UserSessions#new</h1>
<p>Find me in app/views/user_sessions/new.html.erb</p>
<h1>Login</h1>
<%= form_for @user_session , :url => {:action => "create"} do |f| %>
  <h2><%= f.error_messages %>
  <div>
    Login: <%= f.text_field :login %>
  </div>

  <div>
    Password <%= f.password_field :password %>
  </div>

  <div>
    <%= f.submit "Login" %>
<% end %>    
